@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.task-list-task {
    cursor: pointer;
}

#queryTextArea {
    height: 100px;
    font: 1.5em sans-serif;
    padding: 0.2em;
}